.border-bottom {
	position: relative;
}
.border-bottom:after {
	position: absolute;
	z-index: 10;
	right: 0;
	bottom: 0;
	left: 0;
	height: 1px;
	content: '';
	transform: scaleY(.5);
	background-color: #717171;
}
.border-top {
	position: relative;
}
.border-top:before{
	position: absolute;
	z-index: 10;
	right: 0;
	top: 0;
	left: 0;
	height: 1px;
	content: '';
	transform: scaleY(.5);
	background-color: #717171;
}
.pro-type-item {
	padding: 0 20upx;
	border-radius: 40upx;
	background-color: $font-color-light;
	color: $font-color-withe;
	font-size: 32upx;
}
.price {
	color: #E7211A;
}
.flex-center {
	display: flex;
	justify-content: center;
}
.status {
	width: 100%;
	height: 0;
	position: fixed;
	z-index: 10;
	top: 0;
	/*  #ifdef  APP-PLUS  */
	height: var(--status-bar-height); //覆盖样式
	/*  #endif  */
	background-color: #FFFFFF;
	transition: opacity 0.05s linear;
}
.header-page-body {
	/*  #ifdef  APP-PLUS  */
	padding-top: var(--status-bar-height);
	/*  #endif  */
}
._itemtype {
	font-size: 28upx;
	border-radius: 10upx;
	border: 1upx solid #C6C6C6;
	color: #9D9D9D;
	padding: 0 20upx;
	margin-right: 30upx;
	margin-top: 12upx;
	&.active {
		border: 1upx solid #18C02C;;
		background-color: #18C02C;
		color: #FFFFFF;
	}
}
.text {
	font-size: 28upx;
	color: $font-color-dark;
}
.bitian {
	position: relative;
}
.bitian:before {
	position: absolute;
	right: -20upx;
	top: 0upx;
	content: "*";
	color: #E7211A;
}
.loading-text {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60upx;
	color: #979797;
	font-size: 24upx;
}
.viod {
	width: 100%;
	height: 12upx;
	background-color: #FAFAFA;
}

.list-succ {
	font-size: 34upx;
	color: $font-color-light;
}
.list-price {
	font-size: 34upx;
	color: #E71F19;
}